
<%- include('./partials/document'); %>
<!-- form subir archivo -->
<%- include('./partials/pageTitle',{ pageName:"Ingresar productos"}); %>
<form action="/productos" method="post" class="p-5">

    <div class="row mb-3">
        <label for="title"  class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>

    <div class="row mb-3">
        <label for="price"  class="form-label">Price</label>
        <input type="text" name="price" id="price" class="form-control">
    </div>

    <div class="row mb-3">
        <label for="thumbnail"  class="form-label">thumbnail</label>
        <input type="text" name="thumbnail" id="thumbnail" class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Subir</button>
        <%- include('./partials/redirectBtn',{ link:"/productos", name:"Ver productos"}); %>
        <!-- {{> redirectBtn link="/productos" name="Ver productos"}} -->
    </div>
</form>

<%- include('./partials/bootstrap'); %>
