<!-- form subir archivo -->
<h1>Ingresar producto</h1>
<form action="/api/productos" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"><br />
    <label for="price">Price</label>
    <input type="text" name="price" id="price"><br />
    <label for="thumbnail">thumbnail</label>
    <input type="text" name="thumbnail" id="thumbnail">
    <button type="submit">Subir</button>
</form>