<h1>Vista de products</h1>
{{#if listExists}}
    <ul>
        {{#each items}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
{{/if}}
{{> redirectBtn link="/" name="Ingresar productos"}}
