//- main layout
extends ./layouts/index.pug
//- partials (mixins)
include mixins/pageTitle.pug
include mixins/redirectBtn.pug
include mixins/logOutBtn.pug
include mixins/formInputField.pug

block headerScripts
    script(src="/socket.io/socket.io.js")
    

block content
    //- form subir archivo 
    section(class="px-5 py-1")
        span(class="px-1")
            +rdirBtn("Main page", "./home")
            +logOut()
    +title("Chat de usuarios con websocket")
    - const newUser = "new user"
    - const userName = (loggedUser)? loggedUser : newUser
    if (userName === newUser )
        div(class="p-5") You need to be logged in to use the chat
    else 
        div(class="p-5") Hi #{userName}, do you have time for some chatting?
        section(class="px-5 py-1")
            section
                h2 Chat
                #chat_box(class="my-2")
                form#message_box(class="my-2")
                    +formInputField("Write your message", "message", "text")
                    button(type="button" class="btn btn-secondary my-4" id="send_message") Send
                button(type="button" class="btn btn-secondary my-4" id="log_out") Log Out
        script(src="ejs.js")
        script(src="socket/chatClient.js")

    
    script(src="authentication/logOut.js")