include ../mixins/formInputField.pug

form(action="/auth/signup" method="post" class="p-5" id="session_signup")
    //- Email fields
    +formInputField(
        'Email',
        'inputEmail',
        'email'
    )
    +formInputField(
        'Email',
        'confirmEmail',
        'email'
    )
    //- Password fields
    +formInputField(
        'Set password',
        'inputPassword',
        'password'
    )
    +formInputField(
        'Confirm Password',
        'confirmPassword',
        'password'
    )
    //- Personal information fields
    +formInputField(
        'First name',
        'firstName',
        'text'
    )
    +formInputField(
        'Last name',
        'lastName',
        'text'
    )
    +formInputField(
        'Home address',
        'homeAddress',
        'text'
    )
    +formInputField(
        'Age',
        'age',
        'number'
    )
    +formInputField(
        'Phone number',
        'phone',
        'tel'
    )
    div(class="row mb-3")
        label(for="avatar"  class="form-label") Profile picture
        input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")

    input(type="submit" value="Sign up" class="btn btn-primary")
